/* COLORI */
:root {
    --my-dark-bg: #0d2337;
}

/* ----- HEADER PRINCIPALE----- */
#page-header {
    height: 70px;
    /* background-color: goldenrod; */
}

#page-header #mobile-logo {
    display: none;
}
#page-header img {
    height:35px;
}

#page-header .search-box {
    background-color: var(--bs-gray-300);
}

#page-header input {
    border: none;
    background-color: transparent;
}

#page-header input:focus-visible {
    outline:none;
}

#page-header input::placeholder {
    color: var(--bs-gray-600);
}

/* 
#page-header [class*="col"]{
    background-color: blue;
    border: 1px dashed white;
} */

/* ----- MAIN ----- */
main {
    height: calc(100vh - 70px);
    background-color: salmon;
}

/* ASIDE */
aside {
    height: 100vh;
    background-color: var(--my-dark-bg);
}

/* MAIN SECTION */
#main-section {
    background-color: aqua;
    overflow-y: auto;
    height: 100vh;
}

/* MAIN SECTION HEADER */
#main-section header{
    background-color: sandybrown;
    height: 70px;
}

#main-section header [class*="col"] {
    background-color: blue;
    border: 1px dashed white;
}

/* MAIN CONTENT */
#main-section #main-content [class*="col"] {
    background-color: blueviolet;
    border: 1px dashed white;
}

#main-section #main-content {
    background-color: sandybrown;
    height: 70px;
}
