/* COLORI */
:root {
    --my-dark-bg: #0d2337;
    --my-gold: #fe8d00;
}

/* REGOLE GENERALI */
body {
    min-width: 368px;
}/* per non rompere il layout se viene ristretto troppo */

.gold-icon {
    color: var(--my-gold);
}

img {
    width: 100%;
}

/* ----- HEADER PRINCIPALE----- */
#page-header {
    height: 70px;
}

#page-header #logo {
    height:35px;
}

#page-header #mobile-logo {
    height:55px;
}

#page-header input[type="search"],
#page-header span[class="input-group-text"] {
    background-color: var(--bs-gray-200);
    border: none;
}

#page-header input:focus-visible {
    outline:none;
}
#page-header input:focus {
    box-shadow:none;
}

#page-header input::placeholder {
    color: var(--bs-gray-600);
}

/* ----- MAIN ----- */
main {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: hidden;
}

/* ASIDE */
aside {
    background-color: var(--my-dark-bg);
    background-image: url('../img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

aside li:hover {
    background-color: var(--bs-gray-600);
}

/* MAIN SECTION */
#main-section {
    overflow-y: auto;
}

/* MAIN SECTION HEADER */
#main-section header .badge {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 0.9rem;
}

#main-section header .offcanvas {
    width: 40%;
}

/* MAIN CONTENT */

#main-section #main-content table img {
    width: 25px;
}

#main-section #main-content table td:not(:first-child),
#main-section #main-content table th:not(:first-child)
 {
    text-align: center;
}