/* COLORI */
:root {
    --my-dark-bg: #0d2337;
    --my-gold: #fe8d00;
}

/* REGOLE GENERALI */
.gold-icon {
    color: var(--my-gold);
}

/* ----- HEADER PRINCIPALE----- */
#page-header {
    height: 70px;
}

#page-header #mobile-logo {
    display: none;
}
#page-header img {
    height:35px;
}

#page-header .search-box {
    background-color: var(--bs-gray-300);
}

#page-header input {
    border: none;
    background-color: transparent;
}

#page-header input:focus-visible {
    outline:none;
}

#page-header input::placeholder {
    color: var(--bs-gray-600);
}

/* ----- MAIN ----- */
main {
    height: calc(100vh - 70px);
    overflow: hidden;
}

/* ASIDE */
aside {
    background-color: var(--my-dark-bg);
}

aside .row {
    margin-right: 0;
}

/* MAIN SECTION */
#main-section {
    overflow-y: auto;
}

/* MAIN SECTION HEADER */
#main-section header .badge {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 0.9rem;
}

/* MAIN CONTENT */

#main-section #main-content table span.rounded-pill {
    background-color: #f16451;
}

#main-section #main-content table td:not(:first-child),
#main-section #main-content table th:not(:first-child)
 {
    text-align: center;
}